*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.container{
    max-width: 66vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
p{
    color: aqua;
   
}
h1{
    color:#03C03C ;
    border: 3px solid yellow;
    height: 48px;
}
a{
    text-decoration: none;
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_topic{
    margin-bottom: 2.5rem;
    font-size:3rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.descrip{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size:1.5rem ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.content{
    display: grid;
   
    grid-template-columns:repeat(4, 1fr);
    grid-auto-flow: 1fr ;
    gap: 1.5rem;
}
.card{
    display: flex;
    flex-direction: column;
    border: 8px solid purple;
}
.anchor{
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.card_image{
    object-fit:cover;
    object-position: center;
    position: absolute;
    height: 100% ;
    width: 100%;
}
.para{
   line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
   
}
.card:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.cardfoot{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 10px;
}
span{
color: aqua;
}
.avatar{
    height: 3.5rem;
    width: 3.5rem;
    overflow: hidden;
    border: 6px solid blue;
    border-radius: 50%;
}



